# Broadcast addresses
BCAST_SRC=0.0.0.0/32
BCAST_DST=255.255.255.255/32

# Spoofed source address chain -- packets for which this RETURNs are potentially OK.

[ $QUIET = yes ] || echo "Building spoof chain..."

 iptables -t mangle -N LOGSpoof

 iptables -t mangle -A LOGSpoof -j LOG --log-prefix "FWDL_Spoofed_Source_Packet:" --log-level info
 iptables -t mangle -A LOGSpoof -j MARK --set-mark 0xFFFFFFFF

 iptables -t mangle -N SpoofedSrc

 # Packets with illegal broadcast addresses
 iptables -t mangle -A SpoofedSrc -s %%BCAST_DST%% -j LOGSpoof
 iptables -t mangle -A SpoofedSrc -d %%BCAST_SRC%% -j LOGSpoof

 # Reserved/unallocated networks (includes loopnet and class A-E)

# . /etc/firewall/spoof-rules.sh

[ $QUIET = yes ] || echo "Install OUTPUT Spoofed Address traps..."

# Check all incoming packets and packets generated locally:
# Permit allowed exceptions from local networks
# Drop all other broadcast packets
# Check packets for spoofed/private addresses, LOG and Drop

 iptables -t mangle -A OUTPUT -o lo -j ACCEPT
 iptables -t mangle -A OUTPUT -o %%IF%% -s %%SOURCE_IP%% -j ACCEPT


# iptables -t mangle -A OUTPUT -o $CLUSTER_IF -s $SVCNET -j ACCEPT
# iptables -t mangle -A OUTPUT -o $LABVPN_IF -s $LABVPN -j ACCEPT
# iptables -t mangle -A OUTPUT -o $CLUSTER_IF -s $BCAST_SRC -j ACCEPT
# iptables -t mangle -A OUTPUT -o $CLUSTER_IF -d $BCAST_DST -j ACCEPT

 iptables -t mangle -A OUTPUT -s %%BCAST_SRC%% -j LOGSpoof
 iptables -t mangle -A OUTPUT -d %%BCAST_SRC%% -j LOGSpoof
 iptables -t mangle -A OUTPUT -j SpoofedSrc

[ $QUIET = yes ] || echo "Install PREROUTING Spoofed Address traps..."

 iptables -t mangle -A PREROUTING -i lo -j ACCEPT
 iptables -t mangle -A PREROUTING -i %%IF%% -s %%SOURCE_IP%% -j ACCEPT
 iptables -t mangle -A PREROUTING -i %%IF%% -s %%BCAST_SRC%% -j ACCEPT
 iptables -t mangle -A PREROUTING -i %%IF%% -d %%BCAST_DST%% -j ACCEPT
 iptables -t mangle -A PREROUTING -s %%BCAST_SRC%% -j LOGSpoof
 iptables -t mangle -A PREROUTING -d %%BCAST_SRC%% -j LOGSpoof
 iptables -t mangle -A PREROUTING -j SpoofedSrc
